.wrapper {
  background-color: rgb(58, 58, 58);
  min-height: 100vh;
}

nav {
  background: rgba(0, 0, 0, 0.74);
}

.hero {
  position: relative;
  min-height: 80vh;
}
.hero-content {
  max-width: 450px;
}

/* card  */

.movie-card-content {
  background: rgba(255, 255, 255, 0.514);
  backdrop-filter: blur(5px);
  border-radius: 10px;
}
.movie-card-content img {
  width: 100%;
  height: auto;
}
